
* {
    /* color palette */
    --bg-color: #fafafa;
    --text-color: #4d4f62;
    --super-top-color: #44d3d2;
    --team-top-color: #ea5454;
    --karma-top-color: #fcae4a;
    --calcu-top-color: #549ef2;
    --drop-shadow-color: rgba(131, 166, 210, .5);

    /* font size and weights */
    --font-family: 'Poppins', sans-serif;
    --extra-light: 200;
    --regular: 400;
    --semi-bold: 600;

    --title: 36px;
    --title-mobile: 24px;
    --body: 15px;
    --card-title: 20px;
    --card-body: 13px;

    /* line heights / letter spacing */
    --body-lh: 25px;
    --card-lh: 23px;
    --body-title: .25px;
    --body-ls: .1px;
    --card-ls: .09px;
    --mobile-title: .17px;
}

.title {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--title-mobile);
    font-weight: var(--semi-bold);
    width: 100%;
    text-align: center;
}

.not-bold {
    font-weight: var(--extra-light);
    margin-top: 85px;
}

.company-def {
    width: 311px;
    text-align: center;
    margin: 16px auto;
    opacity: .5;
    letter-spacing: var(--body-ls);
    line-height: var(--body-lh);
    margin-bottom: 76px;
}

.card-container {
    width: 311px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto;
    padding: 0 28px;
    box-shadow: 0 15px 30px var(--drop-shadow-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0;
}

.img-card {
    width: 57px;
    align-self: flex-end;
}

.card-title {
    font-size: var(--card-title);
    margin-top: -20px;
}

.card-discrip {
    font-size: var(--card-body);
    width: 200px;
    letter-spacing: var(--card-ls);
    line-height: var(--card-lh);
    opacity: .5;
}

.super {
    border-top: 5px solid var(--super-top-color);
}

.team {
    border-top: 5px solid var(--team-top-color);
}

.karma {
    border-top: 5px solid var(--karma-top-color);
}

.calc {
    border-top: 5px solid var(--calcu-top-color);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.frontendLogo {
    width: 50px;
    margin: 15px auto;
}

@media screen and (min-width: 992px) {
    .title {
        color: var(--text-color);
        font-family: var(--font-family);
        font-size: var(--title);
        font-weight: var(--semi-bold);
        width: 100%;
        text-align: center;
    }
    
    .not-bold {
        font-weight: var(--extra-light);
        margin-top: 80px;
    }
    
    .company-def {
        width: 540px;
        text-align: center;
        margin: 16px auto;
        opacity: .5;
        letter-spacing: var(--body-ls);
        line-height: var(--body-lh);
        margin-bottom: 76px;
        font-size: var(--body);
    }

    
}